@include extjs-toolbar-ui(
    $ui: 'blank',
    $background-color: transparent,
    $border-width: 0px,
    $vertical-spacing: 0px,
    $horizontal-spacing: 4px
);

.cb-paper {

    &.tool-move {
      cursor: move;
    }
    &.tool-select {
      cursor: default;
    }
    &.tool-pen {
      cursor: crosshair;
    }
    
    .cb-canvas {
        position: absolute;
    }
    
    .cb-image {
        position: absolute;
            
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;


        
        /*
        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
        -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 1);
        box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 1);
        */
    }
    
}

.cb-location {
    
    .cb-location-body {
        background: #fff;
    }
    
    .loading {
        background: transparent url(images/loadmask/loading-big.gif) no-repeat center center;
        opacity: 0.5;
    }
    
}

.cb-location-sidebar {
    
    border-left: 1px solid #ddd !important;
    
    /*
    -webkit-box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 0px 5px 0px rgba(50, 50, 50, 0.75);
    */
    
    .x-panel-header {
        background-color: rgba(245, 245, 235, 1);
    }
    
    .x-panel-body {
        background-color: rgba(252, 252, 252, 1);
    }
    
    .x-panel-default-collapsed {
        padding: 8px;
    }
    
    .x-title-rotate-right {
        padding-left: 10px;
    }
    
    .x-tool-collapse-left {
        background-position: 0 -352px;
    }
    
    .x-tool-expand-right {
        background-position: 0 -384px;
    }
    
    .x-resizable-handle-west {
        cursor: col-resize;
    }
    
    .x-splitter-horizontal {
        
        background: #fff;
        border-bottom: 1px solid #ddd;
        
        .x-collapse-el {
            display: none;
        }
        
    }
    
}

.cb-location-typepicker {
    
    .type {
        float: left;
        padding: 4px 6px;
        margin: 2px;
        cursor: pointer;
        
        @include border-radius(2px);
        
        &.type-over {
            background: #f4f4f4;
        }
        
        &.type-selected {
            background: #E2EFF8;
        }
        
        img {
            float: left;
            margin-right: 6px;
            display: block;
        }
        
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 36px;
        }
        
    }
    
}

.cb-location-gradepicker {

    .x-panel-header {
        padding: 4px 8px;

        .x-title-text {
            text-align: center;
        }
    }

    .grade {
        cursor: pointer;
        text-align: center;
        margin: 2px 20px 0 20px;
        padding: 2px 0px;

        @include border-radius(2px);

        &.grade-over {
            background: #f4f4f4;
        }

        &.grade-selected {
            background: #E2EFF8;
        }

    }

}