.paper {
    .image {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
        -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 1);
        box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 1);
    }
}