.search-field {

    .x-form-field {
        padding-left: 26px;
        padding-right: 26px;
    }

    .search {
        position: absolute;
        top: 50%;
        left: 6px;
        display: inline-block;
        margin-top: -10px;
        color: #A9A9A9;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            color: #666;
        }
    }

    .clear {
        display: none;
        position: absolute;
        top: 50%;
        right: 6px;
        margin-top: -10px;
        color: #A9A9A9;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            color: #666;
        }
    }

    .x-form-dirty {
        .clear {
            display: inline-block;
        }
    }
}

.cb-map {

    .filter-button {
        &.filtered {
            .x-btn-glyph {
                color: #007bff;
                opacity: 0.8;
            }
        }
    }

}

.cb-map-searchmenu {

    .item {
        cursor: pointer;
        margin: 1px;
        padding: 4px 8px;

        @include border-radius(2px);

        &.item-over {
            background: #f4f4f4;
        }

        &.item-selected {
            background: #E2EFF8;
        }

        .icon {
            margin: 0 5px 0 0;
        }

        .icon-climbuddy {
            color: #C9C54E;
        }

        .icon-google {
            color: #2358CC;
        }

    }

}