
@include extjs-toolbar-ui(
    $ui: 'header',
    $background-color: #fff,
    $border-width: 0,
    $vertical-spacing: 0,
    $horizontal-spacing: 5px,
    $separator-color: #999,
    $separator-horizontal-margin: 0 10px 0 0
);

.x-toolbar-header {
    
    /*
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.35) !important;
    -moz-box-shadow:    0px 0px 4px 3px rgba(0, 0, 0, 0.35) !important;
    box-shadow:         0px 0px 4px 3px rgba(0, 0, 0, 0.35) !important;
    */
    
    padding-left: 10px;
    padding-right: 10px;
    
    z-index: 10;
    
    border-bottom: 1px solid #DDD !important;
    
    .title {
        font-size: 20px;
    }
    
    .types {
        img {
            float: left;
            cursor: pointer;
        }
    }
    
    .x-btn {
        
        .x-btn-icon-el-blank-small.x-btn-glyph {
            opacity: 0.4;
        }
        
        &.x-btn-over {
            .x-btn-icon-el-blank-small.x-btn-glyph {
                opacity: 0.7;
            }
        }
        
        &.x-btn-pressed {
            .x-btn-icon-el-blank-small.x-btn-glyph {
                opacity: 1;
            }
        }
    }
    
    .x-box-menu-after {
        margin-top: 5px;
        background: none;
        border: none;
        
        &.x-btn-over {
            .x-toolbar-more-icon {
                opacity: 1;
            }
        }
        
        .x-toolbar-more-icon {
            opacity: 0.4;
            background: none;
            font-family: 'climbuddy';
            speak: none;
            font-size: 22px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
        .x-toolbar-more-icon:before {
            content: "\e644";
        }
    }
}
