/*
@keyframes introAnimation {
	from { transform: translate(0,0) scale(1.2); }
    to   { transform: translate(50px,-200px) scale(1.1); }
}
@-moz-keyframes introAnimation {
	from { -moz-transform: translate(0,0) scale(1.2); }
    to   { -moz-transform: translate(50px,-200px) scale(1.1); }
}
@-webkit-keyframes introAnimation {
	from { -webkit-transform: translate(0,0) scale(1.2); }
    to   { -webkit-transform: translate(50px,-200px) scale(1.1); }
}
@-ms-keyframes introAnimation {
	from { -ms-transform: translate(0,0) scale(1.2); }
    to   { -ms-transform: translate(50px,-200px) scale(1.1); }
}
@-o-keyframes introAnimation {
	from { -o-transform: translate(0,0) scale(1.2); }
    to   { -o-transform: translate(50px,-200px) scale(1.1); }
}

#cb-intro {
	animation: introAnimation 15s linear;
	-moz-animation: introAnimation 15s linear;
	-webkit-animation: introAnimation 15s linear;
	-ms-animation: introAnimation 15s linear;
	-o-animation: introAnimation 15s linear;
}
*/

@include extjs-button-small-ui(
    $ui: 'blank',

    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: transparent,
    $border-color-disabled: transparent,

    $background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus: transparent,
    $background-color-pressed: transparent,
    $background-color-disabled: transparent,

    $color: #777,
    $color-over: #000,
    $color-focus: #000,
    $color-pressed: #000,
    $color-disabled: #999,
    
    $glyph-color: #000,
    $glyph-opacity: 0.4,
    
    $icon-size: 22px,

    $font-size: $button-small-font-size,
    $font-size-over: $button-small-font-size-over,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-size-disabled: $button-small-font-size-disabled,

    $font-weight: $button-small-font-weight,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $font-weight-disabled: $button-small-font-weight-disabled,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-disabled: $button-small-font-family-disabled
);

@include extjs-button-medium-ui(
    $ui: 'blank',

    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: transparent,
    $border-color-disabled: transparent,

    $background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus: transparent,
    $background-color-pressed: transparent,
    $background-color-disabled: transparent,

    $color: #777,
    $color-over: #000,
    $color-focus: #000,
    $color-pressed: #000,
    $color-disabled: #999,
    
    $glyph-color: #000,
    $glyph-opacity: 0.4,
    
    $icon-size: 24px,

    $font-size: $button-medium-font-size,
    $font-size-over: $button-medium-font-size-over,
    $font-size-focus: $button-medium-font-size-focus,
    $font-size-pressed: $button-medium-font-size-pressed,
    $font-size-disabled: $button-medium-font-size-disabled,

    $font-weight: $button-medium-font-weight,
    $font-weight-over: $button-medium-font-weight-over,
    $font-weight-focus: $button-medium-font-weight-focus,
    $font-weight-pressed: $button-medium-font-weight-pressed,
    $font-weight-disabled: $button-medium-font-weight-disabled,

    $font-family: $button-medium-font-family,
    $font-family-over: $button-medium-font-family-over,
    $font-family-focus: $button-medium-font-family-focus,
    $font-family-pressed: $button-medium-font-family-pressed,
    $font-family-disabled: $button-medium-font-family-disabled
);

/**
 * Navigation header
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: $cb-dark-background,
    $ui-header-glyph-color: $cb-dark-background,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 22px,
    $ui-header-line-height: 52px,
    $ui-header-font-weight: 600,
    $ui-header-icon-height: 32px,
    $ui-header-icon-width: 32px,
    $ui-header-icon-spacing: 12px,
    $ui-header-background-color: $cb-yellow-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 10px 24px 10px 16px,
    $ui-header-noborder-adjust: false
);

/**
 * Navigation menu
 */
@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: transparent,
    $ui-tab-background-color-over: transparent,
    $ui-tab-background-color-active: transparent,
    $ui-tab-color: #fff,
    $ui-tab-color-over: #fff,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #fff,
    $ui-tab-glyph-color-over: #fff,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-border-radius: 0,
    $ui-tab-border-width: 0,
    $ui-tab-padding: 10px 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 14px,
    $ui-tab-font-size-over: 14px,
    $ui-tab-font-size-active: 14px,
    $ui-tab-line-height: 20px,
    $ui-tab-font-weight: 600,
    $ui-tab-font-weight-over: 600,
    $ui-tab-font-weight-active: 600,
    $ui-tab-icon-width: 20px,
    $ui-tab-icon-height: 20px,
    $ui-tab-icon-spacing: 10px,
    $ui-bar-background-color: $cb-dark-background,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0
);

@include extjs-toolbar-ui(
    $ui: 'header',
    $background-color: rgba(255, 255, 255, 0.9),
    $border-width: 0,
    $vertical-spacing: 0,
    $horizontal-spacing: 10px,
    $separator-color: #999,
    $separator-horizontal-margin: 0 10px 0 0
);

.x-css-shadow {
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.35) !important;
    -moz-box-shadow:    0px 0px 4px 3px rgba(0, 0, 0, 0.35) !important;
    box-shadow:         0px 0px 4px 3px rgba(0, 0, 0, 0.35) !important;
}

.x-tab-navigation {
    // TODO: add opacity support to extjs-tab-panel-ui mixin
    @include opacity(0.5);

    // Important added here to overcome background-color:transparent added by framing in IE8
    // TODO: can we remove the !important rule from the framework?
    &.x-tab-over {
        background-color: mix(#000, $cb-dark-background, 10%) !important;
        @include opacity(0.8);
    }

    &.x-tab-active {
        background-color: mix(#000, $cb-dark-background, 20%) !important;
        @include opacity(1);
    }

    &.x-tab-pressed {
        background-color: mix(#000, $cb-dark-background, 20%) !important;
        @include opacity(1);
    }
}

.x-menu-title {
    cursor: default;
    background: #eee;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 2px;
    
    .x-menu-item-text.x-menu-item-indent-no-separator {
        margin-left: 6px;
        font-weight: bold;
    }
}

.x-grid-cell-inner.nopadding {
    padding: 0;
}

.x-form-display-field-default {
    height: 22px;
}

.x-btn-over {
    .x-btn-icon-el-blank-small {
        opacity: 1;
    }
}

.x-tab-inner-navigation {
    white-space: normal;

    .x-ie8 & {
        font-size: 13px;
    }
}

.x-panel-header-title-navigation {
    text-align: left;
}

.x-toolbar-header {
    
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.35) !important;
    -moz-box-shadow:    0px 0px 4px 3px rgba(0, 0, 0, 0.35) !important;
    box-shadow:         0px 0px 4px 3px rgba(0, 0, 0, 0.35) !important;
    
    z-index: 10;
    
    .title {
        font-size: 20px;
    }
    
    .x-box-menu-after {
        margin-top: 22px;
        background: none;
        border: none;
        
        &.x-btn-over {
            .x-toolbar-more-icon {
                opacity: 1;
            }
        }
        
        .x-toolbar-more-icon {
            opacity: 0.6;
            background: none;
            font-family: 'climbuddy';
            speak: none;
            font-size: 22px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
        .x-toolbar-more-icon:before {
            content: "\e644";
        }
    }
}

.cb-collapser {
    background: none !important;
    border: none;
    z-index: 999999;
    position: absolute;
    bottom: 18px;
    left: 18px;
    
    opacity: 0.3;
    
    &.x-btn-over {
        opacity: 1;
    }
    
    .x-btn-inner {
        font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 600;
        line-height: 20px;
        -webkit-font-smoothing: antialiased;
    }
}

.cb-navigation {
    
    &.collapsed {
        .x-title-text, .x-tab-inner {
            opacity: 0;
        }
        
    }
    
    .x-tool-img {
        background-color: transparent !important;
        left: 34px;
        width: 32px;
        height: 32px;
        position: relative;
        top: 20px;
    }
    
    .x-tool-gear {
        background-image: url(icons/menu-disclosure.png) !important;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center center !important;
        @include opacity(0.5);
    }

    &.x-ie8 .x-tool-gear {
        background-image: url(icons/menu-disclosure-small.png) !important;
    }

    .x-tool {
        background-color: $cb-dark-background;
    }

    .x-tool:hover {
        .x-tool-gear {
            @include opacity(1);
        }
        background-color: darken($cb-dark-background, 10%) !important;
    }
}

.cb-navigation-menu {
    
    border: none;

    .x-menu-body {
        background-color: $cb-dark-background;
        span {
            color: white;
            font-weight: $cb-font-semibold;
            @include opacity(0.5);
        }
        a {
            line-height: 50px;
        }
    }

    .x-menu-item-icon {
        width: 40px;
        height: 40px;
        margin: 5px;
        top: 6px;
        left: 10px;
        @include opacity(0.5);
        background-size: 70%;
    }

    .x-menu-item-text {
        margin-left: 65px;
        margin-right: 15px;
    }

    .x-menu-item-active {
        background-color: darken($cb-dark-background, 10%) !important;
        span {
            @include opacity(1);
        }
        .x-menu-item-icon {
            @include opacity(1);
        }
    }
}

.cb-spinner {
    background: transparent url(images/tree/loading.gif) no-repeat center center;
}
