@font-face {
    font-family: 'climbuddy';
    src: url('icons/climbuddy/fonts/climbuddy.eot');
    src: url('icons/climbuddy/fonts/climbuddy.eot?#iefix') format('embedded-opentype'),
    url('icons/climbuddy/fonts/climbuddy.woff') format('woff'),
    url('icons/climbuddy/fonts/climbuddy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}